$photo-gallery-height: 250px;

$thumbnail-min-width: 200px;
$thumbnail-height: 100px;

main.photoGallery {
  padding: 0em;

  max-height: $photo-gallery-height;
  overflow-y: auto;

  img {
    height: $thumbnail-height;
    width: $thumbnail-min-width;
    object-fit: cover;

    transition: 0.5s ease;

    &:hover {
      opacity: 0.85;
    }
  }
}

@supports (display: grid) {
  main.photoGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($thumbnail-min-width, 1fr));

    img {
      height: $thumbnail-height;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media not screen and (min-width: 800px) {
  @supports (display: grid) {
    main.photoGallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
