$photo-gallery-height: 175px;

$thumbnail-min-width: 200px;
$thumbnail-height: 100px;

main.photos {
  padding: 0;

  .photoToggle {
    background: $sidebar-color;
    color: $background-color;

    text-align: center;

    padding: 5px;
  }

  .photoGallery {
    max-height: $photo-gallery-height;
    overflow-y: auto;

    img {
      height: $thumbnail-height;
      min-width: $thumbnail-min-width;
      object-fit: cover;

      transition: 0.5s ease;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}

@supports (display: grid) {
  .photoGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($thumbnail-min-width, 1fr));

    img {
      height: $thumbnail-height;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media not screen and (min-width: 800px) {
  @supports (display: grid) {
    main.photos {
      .photoToggle {
        display: none;
      }

      .photoGallery {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        max-height: $photo-gallery-height * 2;
      }
    }
  }
}
