main.testimonials {
  max-height: 500px;

  @supports (display: grid) {
    .testimonial {
      display: grid;
      grid-template-areas:
        "header img"
        "body   img";

      width: 100%;

      .testimonial__header {
        grid-area: header;
      }

      .testimonial__body {
        grid-area: body;
      }

      .testimonial__img {
        grid-area: img;
        width: 100%;
        height: auto;
      }
    }
  }
}
