main.testimonials {
  padding: 0em;

  .testimonials__body {
    margin: 1em;
    text-align: left;
    // font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    line-height: 1.5em;
  }

  nav {
    display: flex;
    flex-wrap: wrap;

    background-color: $sidebar-color;

    a {
      flex: 1;
      flex-basis: 15%;
      padding: 1em 2.5%;

      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      text-align: center;

      color: $background-color;

      &.active {
        background-color: $link-active-color;
      }
      &:hover {
        background-color: $link-hover-color;
      }
    }
  }
}
