main.testimonials {
  padding: 0em;

  nav {
    display: flex;
    flex-wrap: wrap;

    background-color: $sidebar-color;

    a {
      flex: 1;

      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      padding: 1em;

      color: $background-color;

      &.active {
        background-color: $link-active-color;
      }
      &:hover {
        background-color: $link-hover-color;
      }
    }
  }
}
