.header {
  background-color: $sidebar-color;

  .logo__img {
    display: block;
    margin: auto;
    padding: $logo-padding;
  }

  nav {
    a {
      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      padding: 1em;

      color: $background-color;

      &.active {
        background-color: $link-active-color;
      }
      &:hover {
        background-color: $link-hover-color;
      }
    }
  }

  .spacer {
    background-color: $sidebar-color;
  }
}
