header {
  background-color: $sidebar-color;

  .logo svg {
    display: block;
    margin: auto;
    padding: $logo-padding;

    use {
      height: 100%;
      width: 100%;
    }
  }

  nav {
    a {
      flex: 1;

      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      padding: 1em;

      color: $background-color;

      &.active {
        background-color: $link-active-color;
      }
      &:hover {
        background-color: $link-hover-color;
      }
    }
  }

  .spacer {
    background-color: $sidebar-color;
    height: 0px;
  }
}
