.mainImage {
  position: relative;
  text-align: center;

  img {
    width: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 4em;
    color: $background-color;

    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-style: italic;

    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba($color: $sidebar-color, $alpha: 0.5);
    padding: 0.1em;
    border-radius: 0.1em;
  }
}
