$thumbnail-min-width: 200px;

main.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($thumbnail-min-width, 1fr));

  overflow-y: auto;

  padding: 0em;

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;

    transition: 0.5s ease;

    &:hover {
      opacity: 0.85;
    }
  }
}
