.header {
  .logo__img {
    height: 200px;
  }

  nav {
    display: flex;
    flex-direction: row;

    a {
      flex: 1;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
