header {
  .logo svg {
    height: 200px;
  }

  nav {
    display: flex;
    flex-direction: row;

    a {
      flex: 1;
    }

    .spacer {
      height: 0px;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
