---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mainImage">
    <img src="img/houses/timmy/ETM4.jpg" style="object-position: 50% 65%;" />
    <h1>Build a Lifestyle</h1>
  </div>

  <main>
    <p>
      Located on Connecticuts Gold Coast, ETM Construction is a family owned and
      operated business that has been serving local home owners for over twenty
      five years.
    </p>
  </main>
</Layout>
