---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Photos">
  <div class="mainImage"><img src="/img/houses/timmy/ETM2.jpg" /></div>

  <main class="photos">
    <div class="photoToggle">Hide</div>
    <div class="photoGallery">
      <img src="/img/houses/timmy/ETM2.jpg" alt="ETM2" />
      <img src="/img/thumbs/img/houses/timmy/ETM3.jpg" alt="ETM3" />
      <img src="/img/thumbs/img/houses/timmy/ETM4.jpg" alt="ETM4" />
      <img src="/img/thumbs/img/houses/timmy/ETM19.jpg" alt="ETM19" />
      <img src="/img/thumbs/img/houses/meridian/Meridian.jpg" alt="Meridian" />
      <img
        src="/img/thumbs/img/houses/meridian/Meridian3.jpg"
        alt="Meridian3"
      />
      <img
        src="/img/thumbs/img/houses/meridian/Meridian4.jpg"
        alt="Meridian4"
      />
      <img
        src="/img/thumbs/img/houses/sanders/Sanders_Baudouin01s.jpg"
        alt="Sanders01"
      />
      <img
        src="/img/thumbs/img/houses/sanders/Sanders_Baudouin02s.jpg"
        alt="Sanders02"
      />
      <img
        src="/img/thumbs/img/houses/sanders/Sanders_Baudouin04s.jpg"
        alt="Sanders03"
      />
      <img
        src="/img/thumbs/img/houses/sanders/Sanders_Baudouin05s.jpg"
        alt="Sanders05"
      />
      <img
        src="/img/thumbs/img/houses/sanders/Sanders_Baudouin09s.jpg"
        alt="Sanders09"
      />
      <img
        src="/img/thumbs/img/houses/sanders/Sanders_Baudouinext07s2.jpg"
        alt="SandersExt07"
      />
      <img
        src="/img/thumbs/img/houses/kelly/006-Foyer-5688621-large.jpg"
        alt="KellyFoyer"
      />
      <img
        src="/img/thumbs/img/houses/kelly/009-Great_Room-5688625-large.jpg"
        alt="KellyGreatRoom"
      />
      <img
        src="/img/thumbs/img/houses/kelly/018-Kitchen-5688632-large.jpg"
        alt="KellyKitchen"
      />
      <img
        src="/img/thumbs/img/houses/kelly/027-Master_Bedroom-5688641-large.jpg"
        alt="KellyBedroom"
      />
      <img
        src="/img/thumbs/img/houses/kelly/029-Master_Bathroom-5688649-large.jpg"
        alt="KellyMasterBathroom"
      />
      <img
        src="/img/thumbs/img/houses/kelly/032-Walk_In_Closet-5688647-large.jpg"
        alt="KellyCloset"
      />
      <img
        src="/img/thumbs/img/houses/kelly/042-Media_Room-5688654-large.jpg"
        alt="KellyMediaRoom"
      />
      <img
        src="/img/thumbs/img/houses/kelly/045-Veranda-5688599-large.jpg"
        alt="KellyVeranda"
      />
      <img
        src="/img/thumbs/img/houses/kelly/047-Veranda-5688594-large.jpg"
        alt="KellyVerandaLong"
      />
      <img
        src="/img/thumbs/img/houses/kelly/068-Twilight_Rear_View-5688685-large.jpg"
        alt="KellyPoolTwilight"
      />
    </div>
  </main>
</Layout>
