---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mainImage">
    <img src="img/houses/sanders/Sanders_Baudouinext07s2.jpg" />
  </div>

  <main class="testimonials">
    <nav class="testimonials__nav">
      <a href="">Sarah and Bill Klein</a>
      <a href="">Susan and David Hurwitt</a>
      <a href="">Ruth and Kerry Baruth</a>
      <a href="">The Bakers</a>
      <a href="">The Kelly's</a>
    </nav>
    <article class="testimonial">
      <p class="testimonial__body">
        You have the peace of mind that not only are they honest and fair
        professionals, but that the subs who they hire are of the highest
        quality and integrity.
      </p>
    </article>
  </main>
</Layout>
