body {
  background-color: #fff;
  margin: 0;
  font-family: sans-serif;
}

header .logo img {
  display: block;
  margin: auto;
  height: 10em;
}
header nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #111;
}
header nav a {
  padding: 1em;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  flex: 1;
}
nav a.active {
  background-color: #004c7f;
}
nav a:hover {
  background-color: #0099ff;
}

.mainImage {
  width: 100%;
  object-fit: cover;
}

main {
  padding: 20px;
}
main p {
  text-indent: 1em;
}

footer {
  background-color: #111;
  color: #fff;
  font-size: 8pt;
  padding: 20px;
}

@supports (display: grid) {
  @media not screen and (min-width: 800px) {
    header nav {
      margin-top: 1em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 800px) {
    header {
      grid-area: header;
      display: flex;
      flex-direction: column;
    }
    header .logo img {
      height: 200px;
    }
    header nav {
      flex-direction: column;
      height: 100%;
    }

    .mainImage {
      grid-area: mainImage;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    main {
      grid-area: main;
      padding: 20px;
    }

    footer {
      grid-area: footer;
    }

    .site {
      display: grid;
      height: 100vh;
      grid-template-columns: minmax(max-content, 1fr) 4fr;
      grid-template-rows: minmax(200px, 500px) auto auto;
      grid-column-gap: 0em;
      grid-template-areas:
        "header mainImage"
        "header main"
        "footer footer";
    }
  }
}
