body {
  background-color: #aaa;
  padding: 20px;
  margin: 0;
  font-family: sans-serif;
}

.logo Text {
  font: bold 30px;
  font-family: "Rokkitt";
}

nav {
  background-color: #111;
  padding: 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline;
  list-style-type: none;
}
nav ul li > a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
nav ul li > a.active {
  background-color: #004c7f;
}
nav ul li > a:hover {
  background-color: #0099ff;
}

main {
  background-color: #fff;
  padding: 20px;
}
main h2 {
  padding: 0;
  margin: 0;
}
main li {
  margin-bottom: 10px;
}
