---
import "../styles/scss/main.scss";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/")[1];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Rokkitt"
    />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <title>ETM Construction</title>
  </head>

  <div id="root">
    <div class="site">
      <header class="header">
        <a class="logo" href="/">
          <img class="logo__img" src="/img/logoWhite.svg" />
        </a>
        <nav>
          <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
          <a class={currentPath === "aboutUs" ? "active" : ""} href="/aboutUs">
            About Us
          </a>
          <a
            class={currentPath === "whatWeDo" ? "active" : ""}
            href="/whatWeDo"
          >
            What We Do
          </a>
          <a
            class={currentPath === "testimonials" ? "active" : ""}
            href="/testimonials/klein"
          >
            Testimonials
          </a>
          <a class={currentPath === "photos" ? "active" : ""} href="/photos">
            Photos
          </a>
        </nav>
      </header>

      <slot />

      <footer>
        <div class="LLC">ETM Construction LLC</div>
        <a href="mailto:email@example.com" target="_blank">
          <div class="address" style="color: white">etmrowayton@gmail.com</div>
        </a>
        <div class="phone">(203) 838-7727</div>
      </footer>
    </div>
  </div>


</html>
