body {
  background-color: #fff;
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
}

.header {
  background-color: #111;
}

.header .logo__img {
  display: block;
  margin: auto;
  padding: 20px;
}

.header nav a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  color: #fff;
}

.header nav a.active {
  background-color: #004c7f;
}

.header nav a:hover {
  background-color: #0099ff;
}

.header .spacer {
  background-color: #111;
}

.mainImage {
  position: relative;
  text-align: center;
}

.mainImage img {
  width: 100%;
  object-fit: cover;
}

.mainImage h1 {
  font-size: 4em;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 17, 17, 0.5);
  padding: 0.1em;
  border-radius: 0.1em;
}

main {
  padding: 1em;
}

main p {
  font-size: 1.5em;
  text-align: center;
}

footer {
  background-color: #111;
  color: #fff;
  font-size: 12pt;
  padding: 1em;
}

.header .logo__img {
  height: 200px;
}

.header nav {
  display: flex;
  flex-direction: row;
}

.header nav a {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media not screen and (min-width: 800px) {
  .header .logo__img {
    width: 300px;
  }
  .header nav {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .phone {
    order: -1;
  }
  .mainImage img {
    height: 250px;
  }
  .mainImage h1 {
    white-space: nowrap;
    font-size: 2.5em;
  }
  @supports (display: grid) {
    .header nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (min-width: 800px) {
  @supports (display: grid) {
    .header {
      grid-area: header;
      display: flex;
      flex-direction: column;
    }
    .header .logo__img {
      height: 210px;
    }
    .header nav {
      flex-direction: column;
    }
    .header nav::before {
      content: "";
      display: block;
      height: 0.1em;
      background-color: #fff;
    }
    .header nav a {
      font-size: 1.2em;
    }
    .mainImage {
      grid-area: mainImage;
    }
    .mainImage img {
      width: 100%;
      height: 100%;
    }
    .mainImage h1 {
      font-size: 4vw;
      white-space: nowrap;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
    .site {
      display: grid;
      min-height: 650px;
      height: 100vh;
      grid-template-columns: auto 1fr;
      grid-template-rows: minmax(250px, 1fr) auto max-content;
      grid-column-gap: 0em;
      grid-template-areas: "header mainImage" "header main" "footer footer";
    }
  }
}
main.photos {
  padding: 0;
}

main.photos .photoToggle {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 5px;
}

main.photos .photoGallery {
  max-height: 175px;
  overflow-y: auto;
}

main.photos .photoGallery img {
  height: 100px;
  min-width: 200px;
  object-fit: cover;
  transition: 0.5s ease;
}

main.photos .photoGallery img:hover {
  opacity: 0.85;
}

@supports (display: grid) {
  .photoGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .photoGallery img {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }
}
@media not screen and (min-width: 800px) {
  @supports (display: grid) {
    main.photos .photoToggle {
      display: none;
    }
    main.photos .photoGallery {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      max-height: 350px;
    }
  }
}
main.testimonials {
  padding: 0em;
}

main.testimonials .testimonials__body {
  margin: 1em;
  text-align: left;
  font-size: 1.25em;
  line-height: 1.5em;
}

main.testimonials nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #111;
}

main.testimonials nav a {
  flex: 1;
  flex-basis: 15%;
  padding: 1em 2.5%;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

main.testimonials nav a.active {
  background-color: #004c7f;
}

main.testimonials nav a:hover {
  background-color: #0099ff;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=style.css.map */
